
<table class="table table-striped" *ngIf="carregarLoading; else carregando">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Desconto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <th scope="row" >{{p.id}}</th>
      <td>{{p.nome}}</td>
      <td>{{p.preco}}</td>
      <td>Excluir</td>
    </tr>
  </tbody>
</table>


<ng-template #carregando >
  <div id="preloader">
    <div class="inner">
       <div class="bolas">
          <div></div>
          <div></div>
          <div></div>                    
       </div>
    </div>
</div>
</ng-template>